
//GLOBAL FONT WEIGHT
$light: 300 !default;
$regular: 400 !default;
$medium: 500 !default;
$semi-bold: 600 !default;
$bold: 700 !default;
$extra-bold: 900 !default;
//Colors
$white: #fff;
$black: #000;
$secondary:#DFDFDF;
